.Flag {
    border: 3px solid black;
    width: auto;
    height: auto;
}

.stars {
    float: left;
    position: absolute;
}

.strip {
    width: 100%;
    height: 54px;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

/* @media for bigger screens */
@media (max-width: 797px) {
    /* table {
        max-width: 600px; 
    } */
    .strip {
        width: 100%; 
        height: 40px;
    }
    img {
        height: 280px;
        width: 400px;
    }
}

/* @media for big screens */
@media (max-width: 677px) {
    .strip {
        width: 100%; 
        height: 30px;
    }
    img {
        height: 210px;
        width: 350px;
    }
}

/* @media for medium screens */
@media (max-width: 560px) {
    .strip {
        width: 100%; 
        height: 20px;
    }
    img {
        height: 140px;
        width: 275px;
    }
}

/* @media for small screens */
@media (max-width: 450px) {
    .strip {
        width: 100%; 
        height: 15px;
    }
    img {
        height: 105px;
        width: 200px;
    }
    h1{
        font-size: larger;
    }

}

/* @media for small screens */
@media (max-width: 350px) {
    .strip {
        width: 100%; 
        height: 10px;
    }
    img {
        height: 70px;
        width: 130px;
    }
    h1{
        font-size: medium;
    }

}

/* @media for small screens */
@media (max-width: 250px) {
    .strip {
        width: 100%; 
        height: 8px;
    }
    img {
        height: 56px;
        width: 100px;
    }
    h1{
        font-size: medium;
    }

}